.chamada {
  display: grid;
  justify-items: center;
  position: relative;
}

.chamada .chamadaConteudo{
    text-align: center;
    z-index: 1;
}
 .chamada .data{
    position: relative;
    color: #ffffff;
}
.chamada .data::before {
  content: "";
  width: 27px;
  height: 27px;
  left: -40px;
  background-image: url(../img/vetores/calendar.svg);
  position: absolute;
}
.chamada .imagem{
    margin-top: -150px;
}
/* Contador */

.contadorDeDias{
  position: absolute;
  top: 150px;
}

.contador{
  margin-top: 160px;
  font: 400 5rem "Jolly Lodger", monospace;
  color: var(--cor-02);
  text-align: center;
}